<h1>My Rents Requests</h1>

<% @rents.each do |rent| %>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <div class="message-name">

      </div>
      <div class="message-body">
        <h3>
            <% elder = Elder.find(rent.elder_id) %>
            <%= elder.full_name %>
          </h3>
          <p> Loué de <%= rent.start_date %> à <%= rent.end_date %></p>

          <button> <%= link_to "Add a review", new_rent_review_path(rent) %></button>
      </div>
      <div class="message-status">
        <p class="status pending">Pending</p>
    </div>
  </div>
<% end %>


