.content {
  margin-top: 10px;
}

.card-body {
  background: white;
  margin: 5px;
  border-radius: 2px;
}
.card-picture{
  height: 160px;
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.map-container{
  position: relative;
  flex: 0 0 300px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

#map{
  position: absolute;
  right: 25px;
  padding-right: 15px;
  padding-left: 15px;
  top: 5px;
  width: 100%;
  height: 300px;
}
.card-footer {
  padding: 5px;
  font-size: 14px;
  width: fixed;
  .name {
   font-weight: 800;
  }
}
.card_tag{
  position: absolute;
  background: white;
  height: auto;
  max-width: 33%;
  top: 6px;
  left: 6px;
  font-size: 12px;
  text-overflow: ellipsis;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.7;
}
.card-tags{
  position: relative;
}

.list-inline{
  display: flex;
  justify-content: space-between;
}


