.content {
  margin-top: 10px;
  display: flex;
}

.card-body {
  background: white;
  margin: 5px;
  border-radius: 2px;
  padding-bottom: 20px;
}
.card-picture{
  height: 150px;
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-container{
  position: relative;
  flex: 0 0 300px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

#map{
  position: absolute;
  width: 100%;
  height: 300px;
}

