.container-show {
display: flex;
justify-content: space-between;
align-items: center;
}

.elder-single-photo{
width: 250px;
}

.elder-single-photo img {

width: 100%;
object-fit: cover;
}

.elder-specs-wrapper{
padding: left;
flex-grow: 1;
}
