
<h1>What about your Grandpa-rent ? </h1>

<%= simple_form_for @rent, url: rent_reviews_path(@rent), method: :post do |f| %>
  <%= f.input :review %>
  <%= f.input :rating, collection: 0..5%>
  <%= f.button :submit %>
<% end %>
